nav li {
    list-style-type: none;
    background-color: #f080ca;
    font-family: 'Handlee', cursive;
    display: inline-block;
    height:20px;
    width:100px;
    font-size:large;
    padding-right: 30px;
  }
  img {
    max-width: 30%;
    height: auto;
    border-radius: 30%;
    position: center;
    top: 75px;
  }

  body{
      background-color: rgb(43, 146, 146);
  }

  h2 {
   color: rgb(60, 16, 218);
   text-align: center;
  }

  ul li {
      font-size:25px;
      font:bold;
      color:black;
      background-color:rgb(201, 168, 179) ;
      text-align: center;
  }

  p{
      font: bold;
      font-size: 20px;
      font-family: 'Handlee', cursive;
  }


  table {
    background-color:palevioletred;
    border-radius: 15px;
    box-shadow: 0, 6px, 12px, rgba(0,0,0,0,23), 0 10px 40px rgba(0, 0, 0, 0.19);
    margin: 15px auto 10px;
    max-height: 100vh;
    padding: 13px 10px 20px;
    width: 85vw;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    margin-bottom: 30px;
  }

  table th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    font-weight: 600;
    padding: 10px;
  }
  
  table td {
    border: 3px solid white;
    padding:15px;
  }
  table tr:nth-child(even) {
    background: gray; 
  }